@import "compass/css3/border-radius";

#content {
	//@extend .content_block;

	padding: 40px;

	h1 {
		margin: 0 0 20px 0;
		padding: 0 0 5px 0;
		font-size: 2rem;
		border-bottom: 1px solid;
	}

	p {
		margin: 15px 0;
		text-align: justify;
	}

	.page_explanation {
		margin-top: 0;
		font-style: italic;
	}
}