$content_max_width: 1024px;

$nav_height: 40px;

/****************Color*******************/
$body_bg_color: rgb(240, 240, 240);
$color_bg_header: rgb(50, 50, 50);
$color_header: white;

$color_content: black;
$color_content_title: black;
