@import "constants";
@import "global";

.cv_contents {
	@extend .content_list;
}

.title {
	font-weight: bold;
}

.cv_block {
	@extend .content_list_element;

	.date {
		color: $color_content_light;
		font-style: italic;
		font-size: 0.8rem;
		margin: 0;
	}

	h2 {
		font-size: 1.2rem;
		font-weight: bold;
	}

	li {
		margin: 5px;
	}
}

.cv_personnal_infos {
	@extend .cv_contents;

	li {
		padding: 2px 0;
	}

	.name {
		font-size: 2rem;
	}
}

.cv_job {
	
	@extend .cv_block;

	.cv_description {
		
	}	

	li {
		margin: 5px 5%;
	}
}

.cv_skills {
	@extend .cv_block;
	li {
		margin: 10px 5%;
	}
}