@import "global";

#content {
	.project_list {
		@extend .content_list;
		.project {
			@extend .content_list_element;

			&:hover {
				background-color: $color_bg_list_element_hover;
				.infos {
					text-shadow: none;
				}
			}

			.title {
				border: none;
			}

			.infos {
				color: $color_content;

				&:hover {
					text-shadow: none;
				}
			}
		}
	}
}