@import "compass/reset";
@import "constants";
@import "header";

body {
	background-color: $body_bg_color;
}

#middle {
	@extend .site_content;
	#contact_block {
		float: right;
		width: 25%;
		margin-left: 5%;		
	}

	#content {
		width: 70%;
	}
}