@import "compass/reset";
@import "compass/css3/box-sizing";
@import "constants";
@import "header";
@import "typos";
@import "content";
@import "contact";

* {
	@include box-sizing(border-box);
}

body {
	background-color: $body_bg_color;
}

#middle {
	@extend .site_content;
	margin: 10px auto;

	#contact_block {
		float: right;
		width: 24%;
	}

	#content {
		width: 75%;
	}
}