@import "compass/reset";
@import "compass/css3/box-sizing";
@import "constants";
@import "header";
@import "typos";
@import "content";
@import "contact";

* {
	@include box-sizing(border-box);
}

body {
	background-color: $body_bg_color;
}

#middle {
	@extend .site_content;
	margin: 10px auto;

	a {
		text-decoration: none;
		color: $color_spec_text;

		&:hover {
			text-shadow: 0px 0px 2px $color_spec_text;
			color: rgb(0, 105, 186);
		}
	}

	#contact_block {
		float: right;
		width: 24%;
	}

	#content {
		width: 75%;
	}
}