/* line 17, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/****************Color*******************/
/****************Color*******************/
/****************Color*******************/
/* line 3, ../sass/_global.scss */
.site_content, header #web_title_block, header nav ul, #middle {
  max-width: 1024px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 10, ../sass/_global.scss */
.fixed_margin {
  padding-top: 1px;
  margin-top: -1px;
}

/* line 15, ../sass/_global.scss */
.content_block, #contact_block {
  background-color: #d6d6d6;
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
}

/* line 20, ../sass/_global.scss */
.content_list, .cv_contents, .cv_personnal_infos, #content .project_list {
  margin: 10px 0 15px 0;
}

/* line 24, ../sass/_global.scss */
.content_list_element, .cv_block, .cv_job, .cv_skills, #content .project_list .project {
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
  margin: 10px 0 15px 0;
  border: 1px solid #007edf;
  padding: 10px;
  background-color: white;
}
/* line 31, ../sass/_global.scss */
.content_list_element .title, .cv_block .title, .cv_job .title, .cv_skills .title, #content .project_list .project .title {
  font-size: 1.2rem;
  font-weight: bold;
}

/* line 8, ../sass/_header.scss */
header {
  display: block;
  width: 100%;
  padding-top: 1px;
  background-color: #323232;
  color: white;
}
/* line 22, ../sass/_header.scss */
header #web_title_block h1 {
  margin: 30px 0 10px 0;
  font-size: 3rem;
}
/* line 27, ../sass/_header.scss */
header #web_title_block h2 {
  font-size: 1.5rem;
}
/* line 32, ../sass/_header.scss */
header nav {
  *zoom: 1;
  margin-top: 20px;
  background-color: black;
}
/* line 38, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
header nav:after {
  content: "";
  display: table;
  clear: both;
}
/* line 39, ../sass/_header.scss */
header nav ul li {
  float: left;
}
/* line 42, ../sass/_header.scss */
header nav ul li.current {
  background-color: #323232;
}
/* line 46, ../sass/_header.scss */
header nav ul li a {
  display: block;
  height: 40px;
  padding: 0 10px;
  color: white;
  text-decoration: none;
  line-height: 40px;
}
/* line 55, ../sass/_header.scss */
header nav ul li a:hover {
  background-color: #323232;
}

/* line 1, ../sass/_typos.scss */
html {
  font-size: 16px;
}

/* line 3, ../sass/_content.scss */
#content {
  padding: 40px 40px 40px 0px;
}
/* line 7, ../sass/_content.scss */
#content h1 {
  margin: 0 0 20px 0;
  padding: 0 0 5px 0;
  font-size: 2rem;
  border-bottom: 1px solid #a3a3a3;
}
/* line 14, ../sass/_content.scss */
#content p {
  margin: 15px 0;
  text-align: justify;
}
/* line 19, ../sass/_content.scss */
#content .page_explanation {
  margin-top: 0;
  font-style: italic;
}

/****************Color*******************/
/* line 3, ../sass/_global.scss */
.site_content, header #web_title_block, header nav ul, #middle {
  max-width: 1024px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 10, ../sass/_global.scss */
.fixed_margin {
  padding-top: 1px;
  margin-top: -1px;
}

/* line 15, ../sass/_global.scss */
.content_block, #contact_block {
  background-color: #d6d6d6;
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
}

/* line 20, ../sass/_global.scss */
.content_list, .cv_contents, .cv_personnal_infos, #content .project_list {
  margin: 10px 0 15px 0;
}

/* line 24, ../sass/_global.scss */
.content_list_element, .cv_block, .cv_job, .cv_skills, #content .project_list .project {
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
  margin: 10px 0 15px 0;
  border: 1px solid #007edf;
  padding: 10px;
  background-color: white;
}
/* line 31, ../sass/_global.scss */
.content_list_element .title, .cv_block .title, .cv_job .title, .cv_skills .title, #content .project_list .project .title {
  font-size: 1.2rem;
  font-weight: bold;
}

/* line 3, ../sass/_contact.scss */
#contact_block {
  padding: 10px;
}
/* line 7, ../sass/_contact.scss */
#contact_block h1 {
  margin: 0 0 20px 0;
  text-align: center;
  font-weight: bold;
}
/* line 14, ../sass/_contact.scss */
#contact_block li {
  margin: 10px 0;
}

/****************Color*******************/
/****************Color*******************/
/* line 3, ../sass/_global.scss */
.site_content, header #web_title_block, header nav ul, #middle {
  max-width: 1024px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 10, ../sass/_global.scss */
.fixed_margin {
  padding-top: 1px;
  margin-top: -1px;
}

/* line 15, ../sass/_global.scss */
.content_block, #contact_block {
  background-color: #d6d6d6;
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
}

/* line 20, ../sass/_global.scss */
.content_list, .cv_contents, .cv_personnal_infos, #content .project_list {
  margin: 10px 0 15px 0;
}

/* line 24, ../sass/_global.scss */
.content_list_element, .cv_block, .cv_job, .cv_skills, #content .project_list .project {
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
  margin: 10px 0 15px 0;
  border: 1px solid #007edf;
  padding: 10px;
  background-color: white;
}
/* line 31, ../sass/_global.scss */
.content_list_element .title, .cv_block .title, .cv_job .title, .cv_skills .title, #content .project_list .project .title {
  font-size: 1.2rem;
  font-weight: bold;
}

/* line 8, ../sass/_cv.scss */
.title {
  font-weight: bold;
}

/* line 15, ../sass/_cv.scss */
.cv_block .date, .cv_job .date, .cv_skills .date {
  color: #4d4d4d;
  font-style: italic;
  font-size: 0.8rem;
  margin: 0;
}
/* line 22, ../sass/_cv.scss */
.cv_block h2, .cv_job h2, .cv_skills h2 {
  font-size: 1.2rem;
  font-weight: bold;
}
/* line 27, ../sass/_cv.scss */
.cv_block li, .cv_job li, .cv_skills li {
  margin: 5px;
}

/* line 35, ../sass/_cv.scss */
.cv_personnal_infos li {
  padding: 2px 0;
}
/* line 39, ../sass/_cv.scss */
.cv_personnal_infos .name {
  font-size: 2rem;
}

/* line 52, ../sass/_cv.scss */
.cv_job li {
  margin: 5px 5%;
}

/* line 59, ../sass/_cv.scss */
.cv_skills li {
  margin: 10px 5%;
}

/****************Color*******************/
/* line 3, ../sass/_global.scss */
.site_content, header #web_title_block, header nav ul, #middle {
  max-width: 1024px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 10, ../sass/_global.scss */
.fixed_margin {
  padding-top: 1px;
  margin-top: -1px;
}

/* line 15, ../sass/_global.scss */
.content_block, #contact_block {
  background-color: #d6d6d6;
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
}

/* line 20, ../sass/_global.scss */
.content_list, .cv_contents, .cv_personnal_infos, #content .project_list {
  margin: 10px 0 15px 0;
}

/* line 24, ../sass/_global.scss */
.content_list_element, .cv_block, .cv_job, .cv_skills, #content .project_list .project {
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
  margin: 10px 0 15px 0;
  border: 1px solid #007edf;
  padding: 10px;
  background-color: white;
}
/* line 31, ../sass/_global.scss */
.content_list_element .title, .cv_block .title, .cv_job .title, .cv_skills .title, #content .project_list .project .title {
  font-size: 1.2rem;
  font-weight: bold;
}

/* line 9, ../sass/_projects_list.scss */
#content .project_list .project:hover {
  background-color: #d6d6d6;
}
/* line 11, ../sass/_projects_list.scss */
#content .project_list .project:hover .infos {
  text-shadow: none;
}
/* line 16, ../sass/_projects_list.scss */
#content .project_list .project .title {
  border: none;
}
/* line 20, ../sass/_projects_list.scss */
#content .project_list .project .infos {
  color: black;
}
/* line 23, ../sass/_projects_list.scss */
#content .project_list .project .infos:hover {
  text-shadow: none;
}

/* line 11, ../sass/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/style.scss */
body {
  background-color: #f0f0f0;
}

/* line 19, ../sass/style.scss */
#middle {
  margin: 10px auto;
}
/* line 23, ../sass/style.scss */
#middle a {
  text-decoration: none;
  color: #007edf;
}
/* line 27, ../sass/style.scss */
#middle a:hover {
  text-shadow: 0px 0px 2px #007edf;
  color: #0069ba;
}
/* line 33, ../sass/style.scss */
#middle #contact_block {
  float: right;
  width: 27%;
}
/* line 38, ../sass/style.scss */
#middle #content {
  width: 73%;
  padding: 10px;
}
