@import "config";
@import "reset";
@import "navbar";
@import "header";
@import "section";
@import "about";
@import "footer";



* {
    font-size: 16px;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

h1 {
    font-weight: 500;
}