header {
    padding-top: $navbar-height;
    padding-bottom: 1rem;
    background-color: $background-color-1;
    text-align: center;

    .image-container {
        height: 320px;
        width: 320px;
        overflow: hidden;

        border-radius: 50%;
        margin: auto;
    }

    img {
        height: 100%;
        margin-left: -60px;
    }

    h1 {
        padding-top: 1rem;
        font-size: 4rem;
        font-family: 'Lobster', cursive;
        color: $text-color-1;
        line-height: 1.1;
    }
}