#portofolio {
    ul {
        display: flex;
        flex-flow: row wrap;
        
        li {
            box-sizing: content-box;
            position: relative;
            width: 21%;
            height: 250px;
            margin: 1%;
            &:hover {
                transform: scale(1.1);
            }


            img {
                flex-shrink:0;
                max-width:100%;
                min-height:100%;
                object-fit: cover;
            }

            a {
                height: 100%;
                display:flex;
                justify-content:center;
                align-items:center;
                overflow:hidden;

                span {
                    display: block;
                    position: absolute;
                    bottom: 0;

                    width: 100%;
                    height: 4rem;

                    background-color: $background-color-1;
                    text-align: center;
                    line-height: 4rem;
                    color: $background-color-2;
                }
            }
        }
    }
}