#project {
    header {
        position: fixed;
        top: 0;
        width: 100%;
    }
    main {
        max-width: $site-width;
        margin: 2rem  auto;
        margin-top: 13rem;
    }

    img {
        display: block;
        margin: auto;

        max-width: 100%;
    }

    #content {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        #information {
            div {
                margin-bottom: 1rem;
            }
        }

        #description {
            width: 75%;

            p {
                margin-bottom: .25rem;
                text-align: justify;
            }
        }

        h1 {
            color: $text-color-1;
            font-size: 1.5rem;
        }
    }
}