section {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;

    h1 {
        color: $text-color-1;
        font-size: 2.5rem;

        margin-bottom: .5rem;
    }
}