<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body id="project">
      <header>
          <h1>{{ page.title }}</h1>
      </header>
    <main>
        <img src="{{ site.url }}/assets/images/{{ page.image }}" />
        <div id="content">
            <div id="information">
                <div id="context">
                    <h1>Contexte</h1>
                    {{ page.context }}
                </div>
                <div id="techno">
                    <h1>Technologies</h1>
                    {{ page.technos }}
                </div>
                <div id="link">
                    <h1>Liens externes</h1>
                    <a href="{{ page.link }}">Lien</a>
                </div>
            </div>
            <div id="description">
                <h1>Description</h1>
                {{content}}
            </div>
        </div>
    </main>
  </body>

</html>